Flask==2.3.3
Flask-SocketIO==5.3.6
Flask-Cors==4.0.0
python-telegram-bot==13.7
python-socketio==5.8.0
eventlet==0.33.3
gunicorn==21.2.0
websocket-client==1.6.4
requests==2.31.0
iqoptionapi @ git+https://github.com/Lu-Yi-Hsun/iqoptionapi.git
